
body {
  padding: 30px;
}

/*Header and Nav*/
header img {
  width: 150px;
}

nav ul{
  list-style: none;
  padding-left: 0;
}

nav a {
  display: block;
  margin: 10px;
}

/*Desktop*/
@media screen and (min-width: 767px) {
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  nav ul{
    display: flex;
    justify-content: space-between;
    flex-basis: 50%;
  }
}